.navbar-toggle-btn {
  width: 36px;
  height: 24px;
  position: relative;
  right: 0;
  transition: 0.3s;
  top: 0;
}

.navbar-toggle-btn span {
  background: #f97316;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.3s;
}

.navbar-toggle-btn span:nth-child(1) {
  top: 0;
}

.navbar-toggle-btn span:nth-child(2),
.navbar-toggle-btn span:nth-child(3) {
  top: 12px;
}

.navbar-toggle-btn span:nth-child(4) {
  top: 24px;
}

.navbar-toggle-btn.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-toggle-btn.open span:nth-child(2) {
  transform: rotate(45deg);
}

.navbar-toggle-btn.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar-toggle-btn.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
