.sliderStyle {
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    /* background-color: #ececec; */
    border-radius: 100%;
    /* margin-right: -1rem;
      margin-left: -1rem; */
    color: #000000 !important;
    fill: #000000 !important;
    stroke: #000000 !important;
    width: 50px !important;
    z-index: 40;
  }
  .swiper-button-prev::after {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .swiper-button-next::after {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .swiper-button-prev {
    left: -2% !important;
  }
  .swiper-button-next {
    right: -2% !important;
  }
  .swiper-pagination-bullet {
    border-radius: 0% !important;
    width: 20px !important;
    height: 3px !important;
  }

  .swiper-pagination-bullet-active {
    background: #f97316 !important;
  }

  @media only screen and (max-width: 640px) {
    .swiper-button-next,
    .swiper-button-prev {
      width: 25px;
      height: 25px;
      /* display: none; */
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 15px;
    }
  }
}

.swiperStyle2 {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
    background-color: rgb(255, 255, 255) !important;
  }
  .swiper-pagination-bullet {
    background: #ffffffd5 !important;
  }
  .swiper-pagination-bullet-active {
    background: #ffffff !important;
  }
}

.swiperStyle3 {
  .swiper-slide-thumb-active {
    opacity: 1 !important;
    transition: all 0.3s ease-in-out;
  }
  .swiper-slide-fully-visible {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }
}
